* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4 url('../files/background.png') center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #333;
    padding: 20px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    text-align: center;
}
.category {
    margin-bottom: 20px;
}
.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.item img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.item-info {
    flex-grow: 1;
}
.item-info h3 {
    margin: 0;
}
.item-info p {
    margin: 5px 0;
}
.add-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 2em;
    background-color: #25d366;
    color: white;
    border: none;
    cursor: pointer;
}
.add-button:hover {
    background-color: #20b358;
}
.cart, .checkout {
    margin-top: 20px;
}

.cart {
    height: 120px;
    padding: 10px;
    background-color: #dddddd;
    overflow: auto;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.total, .checkout {
    text-align: right;
    margin-top: 10px;
}

.checkout input, .checkout select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.checkout input {
    width: calc(100% - 20px);
}

.checkout button {
    width: 100%;
    padding: 10px;
    background-color: #25d366;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.checkout button:hover {
    background-color: #20b358;
}