* {
    padding: 0;
    margin: 0;
    user-select: none;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4 url('../files/background.png') center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #333;
}

.container {
    max-width: 650px;
    margin: 20px auto;
    background-color: #d4d4d4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 450px) {
    .container {
        border-radius: 0px;
        margin: 0;
    }
}

h1, h2 {
    text-align: center;
}
.category {
    margin: 20px 0;
    padding: 3px;
    background-color: #ddd;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    max-height: 400px;
    overflow: auto;
}
.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 2px;
    border-radius: 6px;
    background-color: rgb(202, 202, 202);
}

.item:hover {
    background-color: rgb(150, 150, 150);
}

.item img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.item-info {
    flex-grow: 1;
}
.item-info h3 {
    margin: 0;
    font-size: 1em;
}
.item-info p {
    margin: 2px 0;
    font-size: .7em;
}
.add-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 2em;
    background-color: #25d366;
    color: white;
    border: none;
    cursor: pointer;
}
.add-button:hover {
    background-color: #20b358;
}
.cart, .checkout {
    margin-top: 20px;
}

.cart {
    height: 140px;
    padding: 10px;
    border-radius: 6px;
    background-color: #dddddd;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    overflow: auto;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c5c5c5;
    padding: 10px 0;

    div.firstGroup {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;


        div {
            display: flex;
            align-items: center;
            gap: 4px;

            button {
                border: none;
                outline: none;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                cursor: pointer;
                color: white;
            }

            button.take {
                background-color: brown;
            }

            button.take:hover {
                background-color: rgb(240, 62, 62);
            }

            button.add {
                background-color: rgb(42, 165, 42);
            }

            button.add:hover {
                background-color: rgb(63, 196, 63);
            }

            span {
                cursor: pointer;
                color: brown;
            }

            span:hover {
                color: rgb(243, 93, 93);
            }
        }
    }
}
.total, .checkout {
    text-align: right;
    margin-top: 19px;
}

.checkout {
    div#checks {
        display: flex;
        align-items: center;
        justify-content: space-between;

        div {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: left;

            input {
                width: 20px;
            }

            p {
                font-size: .8em;
                color: grey;
            }
        }

        div:last-child {
            justify-content: right;
        }
    }
}

.total {
    font-size: 2em;
}

.checkout input, .checkout select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.checkout input {
    width: calc(100% - 20px);
}

.checkout button {
    width: 100%;
    padding: 10px;
    background-color: #25d366;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.checkout button:hover {
    background-color: #20b358;
}